{% extends 'base.html' %}

{% block content %}
<h1>This is my Bike Blog</h1>
{% for p in posts %}
<div class="instagram-rip-off">
    <a class="card text-decoration-none text-dark" href='{{ url_for("blog.individualPost", id=p.id) }}' style="width: 40vw;">
        <img src="{{ p.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ p.title }}</h5>
          <p class="card-text">{{ p.content }}</p>
        </div>
      </a>
</div>
{% endfor %}
{% endblock content %}